# EDA

# Setup and Import from SQL to CSV

In [88]:
# SETUP
import warnings

warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [89]:
import os # provides functions for interacting with operating system
from dotenv import load_dotenv # reads key-value pairs from a .env file and can set them as environment variables

load_dotenv() # takes environment variables from .env

DATABASE = os.getenv('DATABASE')
USER_DB = 'thyme'
PASSWORD = os.getenv('PASSWORD')
HOST = os.getenv('HOST')
PORT = os.getenv('PORT')

In [90]:
from sqlalchemy import create_engine # for creating an engine

#read the database string DB_STRING from the .env
load_dotenv()

DB_STRING = os.getenv('DB_STRING') # gets database string DB_STRING from .env file and assigns it as value for new variable DB_STRING

db = create_engine(DB_STRING) # creates engine from database string DB_STRING

In [91]:
#import the data to a pandas dataframe
query_string = "SELECT * FROM eda.king_county_house_details hd LEFT JOIN eda.king_county_house_sales hs ON hd.id = hs.house_id;" # write SQL-query into variable query_string
df_sqlalchemy = pd.read_sql(query_string, db) # read queried data from SQL database into pandas dataframe

In [92]:
df_sqlalchemy.head() # look at first five lines of dataframe

,id,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,...,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,date,price,house_id,id
0,7129300520,3.0,1.00,1180.0,5650.0,1.0,NaN,0.0,3,7,...,0.0,98178,47.5112,-122.257,1340.0,5650.0,2014-10-13,221900.0,7129300520,1
1,6414100192,3.0,2.25,2570.0,7242.0,2.0,0.0,0.0,3,7,...,19910.0,98125,47.7210,-122.319,1690.0,7639.0,2014-12-09,538000.0,6414100192,2
2,5631500400,2.0,1.00,770.0,10000.0,1.0,0.0,0.0,3,6,...,NaN,98028,47.7379,-122.233,2720.0,8062.0,2015-02-25,180000.0,5631500400,3
3,2487200875,4.0,3.00,1960.0,5000.0,1.0,0.0,0.0,5,7,...,0.0,98136,47.5208,-122.393,1360.0,5000.0,2014-12-09,604000.0,2487200875,4
4,1954400510,3.0,2.00,1680.0,8080.0,1.0,0.0,0.0,3,8,...,0.0,98074,47.6168,-122.045,1800.0,7503.0,2015-02-18,510000.0,1954400510,5

In [93]:
#export the data to a csv-file
df_sqlalchemy.to_csv('data/eda_dataset.csv',index=False)

In [94]:
df = pd.read_csv('data/eda_dataset.csv')

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   bedrooms       21597 non-null  float64
 2   bathrooms      21597 non-null  float64
 3   sqft_living    21597 non-null  float64
 4   sqft_lot       21597 non-null  float64
 5   floors         21597 non-null  float64
 6   waterfront     19206 non-null  float64
 7   view           21534 non-null  float64
 8   condition      21597 non-null  int64
 9   grade          21597 non-null  int64
 10  sqft_above     21597 non-null  float64
 11  sqft_basement  21145 non-null  float64
 12  yr_built       21597 non-null  int64
 13  yr_renovated   17749 non-null  float64
 14  zipcode        21597 non-null  int64
 15  lat            21597 non-null  float64
 16  long           21597 non-null  float64
 17  sqft_living15  21597 non-null  float64
 18  sqft_lot15     21597 non-null  float64
 19  date           21597 non-null  object
 20  price          21597 non-null  float64
 21  house_id       21597 non-null  int64
 22  id.1           21597 non-null  int64
dtypes: float64(15), int64(7), object(1)
memory usage: 3.8+ MB

# Cleanup

In [96]:
df.drop(columns=['id', 'id.1'], inplace=True)

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   bedrooms       21597 non-null  float64
 1   bathrooms      21597 non-null  float64
 2   sqft_living    21597 non-null  float64
 3   sqft_lot       21597 non-null  float64
 4   floors         21597 non-null  float64
 5   waterfront     19206 non-null  float64
 6   view           21534 non-null  float64
 7   condition      21597 non-null  int64
 8   grade          21597 non-null  int64
 9   sqft_above     21597 non-null  float64
 10  sqft_basement  21145 non-null  float64
 11  yr_built       21597 non-null  int64
 12  yr_renovated   17749 non-null  float64
 13  zipcode        21597 non-null  int64
 14  lat            21597 non-null  float64
 15  long           21597 non-null  float64
 16  sqft_living15  21597 non-null  float64
 17  sqft_lot15     21597 non-null  float64
 18  date           21597 non-null  object
 19  price          21597 non-null  float64
 20  house_id       21597 non-null  int64
dtypes: float64(15), int64(5), object(1)
memory usage: 3.5+ MB

In [98]:
# Handle missing values first
# Fill missing values
df['waterfront'].fillna(0, inplace=True)
df['view'].fillna(0, inplace=True)
df['sqft_basement'].fillna(0, inplace=True)
df['yr_renovated'].fillna(0, inplace=True)
df['date'] = pd.to_datetime(df['date'])

# Convert 5-digit years to 4-digit by dividing by 10 and taking integer part
# Only apply to values greater than 10000 (5-digit years)
mask = df['yr_renovated'] > 10000
df.loc[mask, 'yr_renovated'] = (df.loc[mask, 'yr_renovated'] // 10).astype(int)

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   bedrooms       21597 non-null  float64
 1   bathrooms      21597 non-null  float64
 2   sqft_living    21597 non-null  float64
 3   sqft_lot       21597 non-null  float64
 4   floors         21597 non-null  float64
 5   waterfront     21597 non-null  float64
 6   view           21597 non-null  float64
 7   condition      21597 non-null  int64
 8   grade          21597 non-null  int64
 9   sqft_above     21597 non-null  float64
 10  sqft_basement  21597 non-null  float64
 11  yr_built       21597 non-null  int64
 12  yr_renovated   21597 non-null  float64
 13  zipcode        21597 non-null  int64
 14  lat            21597 non-null  float64
 15  long           21597 non-null  float64
 16  sqft_living15  21597 non-null  float64
 17  sqft_lot15     21597 non-null  float64
 18  date           21597 non-null  datetime64[ns]
 19  price          21597 non-null  float64
 20  house_id       21597 non-null  int64
dtypes: datetime64[ns](1), float64(15), int64(5)
memory usage: 3.5 MB